.photo {
    width: 20vw;
    object-fit: cover;
}

.justify-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap  ;
    padding :30px;
    column-gap: 100px;
    row-gap: 15px;
}

.little-picture{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.grid{
    width: 100%;
}